.Thread {
  padding: 10px;
  margin: 10px;
}

.threadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondThreadContainer {
  width: 90vw;
  font-size: 0.98em;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  color: white;
  background-color: grey;
  box-shadow: 0 2px 14px #010101;
  border-radius: 8px;
  opacity: 0.9;
  text-align: left;
}

.return {
  margin-left: 10px;
}

.return a {
  /* text-decoration: none; */
  color: rgb(0, 255, 70);
}
