@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  /* overflow: hidden; */
  height: 100vh;
  /* width: 100vw; */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  background: rgba(35, 71, 116, 1);
  background: radial-gradient(
    circle,
    rgba(28, 116, 135, 1) 13%,
    rgba(23, 63, 152, 1) 23%,
    rgba(46, 29, 120, 1) 40%,
    rgba(45, 54, 94, 1) 57%,
    rgba(35, 71, 116, 1) 75%,
    rgba(30, 22, 47, 1) 88%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left 15% bottom 85%;
}
.Threads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  top: 0;
  width: 100%;
  text-align: center;
}

.showButton {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  color: beige;
  border: 1px solid beige;
}
